
// Converted Variables


// Custom Media Query Variables


/*

  STYLES

  Add custom styles here.

*/


body {
    font-family: $sans-serif;
    line-height: $line-height-copy;
    font-size: $font-size-5;
    color: $dark-gray;
    background-color: $background-color;
}

a {
    color: $link-color;
    position: relative;
}

a:active {
    top: 1px;
}

hr {
    height: 2px;
    width: 60px;
    border: 0;
    background: $dark-gray;
    margin: 2rem auto !important;
}



/* Eliminate top margin
https://csswizardry.com/2012/06/single-direction-margin-declarations/
----------------------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr {
    margin-top: 0;
    margin-bottom: 1rem;
}

.post-content h2 {
    font-size: $font-size-4;
    border-bottom: 2px solid;
    font-weight: 400;
    padding-bottom: 4px;
}

img + em {
    font-size: $font-size-6;
    display: block;
    text-align: center;
}

@media #{$breakpoint-medium} {
    .post-content h2 {
        font-size: $font-size-2;
    }
}

.post-content h3 {
    font-size: inherit;
    font-style: italic;
    font-weight: normal;
}

.post-content code {
    font-size: .9em;
}

.post-content blockquote {
    border-left: 2px solid $link-color;
    padding-left: 2rem;
    margin-left: 0;
    font-size: 120%;
    position: relative;
}

.post-content blockquote::after {
    content: "”";
    position: absolute;
    top: -.9rem;
    right: -2rem;
    color: $link-color;
    font-size: 6rem;
    line-height: 1;
}

.post-content .highlight {
    border: 2px solid;
    padding: 16px;
    position: relative;
    margin-top: 1.25rem;
}

.post-content .highlight::before {
    content: "✳ Highlight";
    font-style: italic;
    position: absolute;
    right: 8px;
    top: -12px;
    font-size: $font-size-5;
    background-color: $background-color;
    padding: 0 8px;
}

a.footnote {
    text-decoration: none;
    margin-left: 2px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    color: $background-color;
    background-color: $link-color;
    width: 20px;
    height: 16px;
    text-align: center;
    border-radius: 999px;
    font-size: 12px;
}

a.footnote:hover,
a.footnote:focus {
    border: 0;
}

.footnotes {
    font-size: $font-size-6;
}

.footnotes ol {
    border-top: 2px solid;
    padding-top: 1em;
    padding-left: 1em;
}

.footnotes p {
    margin-bottom: .25em;
}