<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    {%- feed_meta -%}
</head>

<body class="ph3 pb4 pb6-m">

    <div>
        <div class="flex-m items-center justify-between bb bw1 pv1">
            <h1 class="f6 f4-m normal mb0">
                <a rel="author" href="{{ "/" | relative_url }}" class="link near-black hover-bg-black-10 ph1 br2 nl1 nr1">
                    Petar Perović</a> ✳ product designer
            </h1>
            <div class="f6 f4-m nl1 nr1">
                <a href="{{ "/profile" | relative_url }}" class="link near-black hover-bg-black-10 ph1 br2">☺ About me</a>
            </div>
        </div>
        <div class="mw6 center pt3 pt4-m">
