<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    {%- feed_meta -%}
</head>

<body>

    <div class="pa3 pa5-m">

        <header class="mb3">
            <h1 class="normal mt0 mb3">
                <a rel="author" href="{{ "/" | relative_url }}">
                    <img src="{% link /assets/small-donkey.svg %}" alt="donkey" width="64">
                </a>
            </h1>
            <p class="f5 f4-m mb0">Hi, I’m Petar, a product designer at <a
                    href="https://semaphoreci.com">Semaphore</a>. I’m <a href="https://twitter.com/ropsii">@ropsii</a>
                on Twitter.</p>
        </header>
