<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

    <div class="vh-100 flex items-center justify-center">
        <div class="tc">
            <div>
                Petar Perović <span class="f6">✻</span> <em>Software Designer</em>
            </div>
            
            <div>
                Connect on <a href="https://www.linkedin.com/in/petarperovic/" style="text-underline-offset: 3px; text-decoration-thickness: 1px; text-decoration-color: #111;">LinkedIn</a>
            </div>
        </div>
    </div>


{%- include footer.html -%}
