<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

    <div class="nl3 nr3 pl3 pr3 nl4-m nr4-m pl4-m pr4-m nb4 pb4" style="background-color: #ffe8e8;">
        <div class="flex items-center bb pt3 pb2">
            <div>
                Petar Perović ✳ Software Designer
            </div>
        </div>

        <div class="pv3">

            <p class="measure-wide mb4">I’m a Portugal-based designer. Last I led design at <a href="https://semaphoreci.com">Semaphore&nbsp;CI</a>, a tool that helps developers ship better code. Currently I’m on sabbatical, but open to discuss future opportunities. My interest is in building software that is ethical, meaningful, useful and accessible.</p>

            <div class="flex-m mv3 pb4 bb">
                <div class="flex-shrink-0 mr4-ns">
                    <img src="{% link /assets/pp.jpg %}" width="160" height="160" alt="petar perovic" class="db br4" style="mix-blend-mode: luminosity;">
                </div>
                <div class="mt3 mt0-m">
                    <p class="mb2 measure-narrow">Use any of these channels to reach out:</p>
                    <ul class="mb0">
                        <li>
                            <p class="mb0">This is my best <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#112;&#101;&#114;&#111;&#118;&#105;&#99;&#46;&#112;&#101;&#116;&#97;&#114;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;" class="">&#69;&#109;&#97;&#105;&#108;</a></p>
                        </li>
                        <li>
                            <p class="mb0">I’m <a href="https://twitter.com/ropsii">@ropsii</a> on Twitter</p>
                        </li>
                        <li>
                            <p class="mb0">Here’s my <a href="https://github.com/ropsii">GitHub</a></p>
                        </li>
                        <li>
                            <p class="mb0">My history is on <a href="https://www.linkedin.com/in/petarperovic/">LinkedIn</a></p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="flex-m">
                <div class="measure-wide">
                    <p class="mb3">
                        I irregularly write about design, making software and society.
                    </p>

                    {%- if site.posts.size > 0 -%}
                        {%- for post in site.posts -%}
                        <div class="flex-m items-baseline justify-between mb1">
                            <h3 class="f5 normal mb1 mb0-m toc">
                                <a href="{{ post.url | relative_url }}">
                                    {{ post.title | escape }}</a>
                            </h3>
                            <div class="f7 mb2 mb0-m pl2-m nowrap">
                                {{ post.date | date: "%b %-d, %Y" }}
                            </div>
                        </div>
                        <div class="mb4">{{ post.excerpt | markdownify | strip_html | truncatewords: 35  }}</div>
                        {%- endfor -%}
                    {%- endif -%}
                </div>
                <div class="dn db-m ml4 pt2 flex-shrink-0" style="max-width: 12rem">
                    <div>
                        <div class="flex f3 mb3 br-100" style="width: 18px; height: 18px">
                            <span class="a-spin-circle" style="width: 18px; height: 15px; line-height: 18px;">✳</span>
                        </div>
                        <p class="f7 mb0">Follow <a href="https://twitter.com/ropsii">@ropsii</a> on Twitter to stay in the loop. You can also grab <a href="/feed.xml">RSS&nbsp;Feed</a> if you prefer.</p>
                    </div>
                </div>
            </div>
        </div>

        {%- include colophon.html -%}
    </div>


{%- include footer.html -%}
