<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

        <article class="bt pt3" itemscope itemtype="http://schema.org/BlogPosting">

            <div>
                <h1 class="sans-serif f2 f1-m lh-solid mt2 mb3 mw6" itemprop="name headline">{{ page.title | escape }}</h1>
                <p class="f4 mv3">
                    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                        {%- assign date_format = site.date_format | default: "%B %-d, %Y" -%}
                        {{ page.date | date: date_format }}
                    </time> —
                </p>

                <div class="f4 measure post-content" itemprop="articleBody">
                    {{ content }}
                </div>
            </div>

            <footer class="mt4 pt3 bt">
                <div class="">
                    <p class="mb0">Comment <a href="https://twitter.com/ropsii">@ropsii</a> on Twitter.</p>
                    <p class="mb0">Find <a href="{{ "/" | relative_url }}">more articles</a> on homepage.</p>
                    <p class="mb0">Get updates via <a href="{{ "/feed.xml" | relative_url }}">RSS Feed</a>.</p>
                </div>
            </footer>

            <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
        </article>

{%- include footer.html -%}