<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <div class="mw7 center pa3 pa5-m">

        <header class="mb3 mb4-m">
            <h1 class="f4 normal ma0">
                <a rel="author" href="{{ "/" | relative_url }}">
                    <img src="{% link /assets/small-donkey.svg %}" alt="donkey" width="70">
                </a>
            </h1>
        </header>

        <article class="mb5" itemscope itemtype="http://schema.org/BlogPosting">

            <header class="mb4 pt3 pt4-m bt bw2">
                <h1 class="f3 f2-m lh-title mb1" itemprop="name headline">{{ page.title | escape }}</h1>
                <p class="f5 mb3">
                    {%- if page.author -%}
                    <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span> • </span>
                    {%- endif -%}

                    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                        {%- assign date_format = site.date_format | default: "%B %-d, %Y" -%}
                        {{ page.date | date: date_format }}
                    </time>
                </p>
            </header>

            <div class="f4 f3-m serif post-content" itemprop="articleBody">
                {{ content }}
            </div>

            <footer class="mt4 pt4">
                <div class="flex-m items-center justify-between">
                    <div class="mb4 mb0-m">
                        <p class="f5 mb0">To comment, mention <a href="https://twitter.com/ropsii">@ropsii</a> on Twitter.</p>
                        <p class="f5 mb0">Find <a href="{{ "/" | relative_url }}">more articles</a> on homepage.</p>
                        <p class="f5 mb0">Get updates via <a href="{{ "/feed.xml" | relative_url }}">RSS Feed</a>.</p>
                    </div>
                    <div>
                        <a rel="author" href="{{ "/" | relative_url }}">
                            <img src="{% link /assets/small-donkey.svg %}" alt="donkey">
                        </a>
                    </div>
                </div>
            </footer>

            <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
        </article>

    </div>

  </body>

</html>
