<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

    <div class="measure-wide center pt3 pt4-m">

        <article itemscope itemtype="http://schema.org/BlogPosting">

            <div>
                <p class="f5 f4-m mb2">
                    <a rel="author" href="{{ "/" | relative_url }}">Petar Perović</a> /
                </p>
                <h1 class="f2 f1-m normal lh-title mt0 mb2" itemprop="name headline">{{ page.title | escape }}</h1>
                <p class="f6 mb3">
                    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                        {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
                        {{ page.date | date: date_format }}
                    </time>
                    ·
                    {% assign words = content | number_of_words %}
                    {% if words < 360 %}
                    1 min.
                    {% else %}
                    {{ words | divided_by:180 }} min.
                    {% endif %} read
                </p>
                <div class="f5 f4-m post-content" itemprop="articleBody">
                    {{ content }}
                </div>
            </div>

            <footer class="mt4">
                <div class="f6">
                    <p class="mb0">
                        Comments <a href="https://twitter.com/ropsii">@ropsii</a> on Twitter ✳ Stay in the loop with <a href="{{ "/feed.xml" | relative_url }}">RSS Feed</a>
                    </p>
                </div>
            </footer>

            <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
        </article>

{%- include footer.html -%}