<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

        <div class="ph3">
            <div class="mw6 center bg-white ba bw2 pa3 pa4-m shadow-1">
                <div class="f5 f4-m mb3">
                    <h2 class="sans-serif f3 mb2">About me</h2>
                    <p class="mb3">My expertise is in design and production of web applications. For years I’ve been helping various products be more useful and meaningful.</p>
                    <p class="mb3">Currently I work on <a href="#">Semaphore</a>, a robust tool for developers. I run product design and help shape product strategy.</p>
                    <p class="mb4">In past I was at home insurance startup <a href="#">Super</a>, spent several years perfecting a project management app <a href="#">ActiveCollab</a>, and ran a design agency <a href="#">Superawesome</a> with a friend.</p>
                    <img src="{% link /assets/family.jpg %}" alt="Me and my family" class="db mb2">
                    <p class="f6 mb3 i tc">Macavare, Montenegro</p>
                    <p class="mb3">I’ve been living in Porto, Portugal for years now, and my hometown is Novi Sad, Serbia.</p>
                    <p class="">I lazy tweet from <a href="https://twitter.com/ropsii">@ropsii</a>.</p>
                </div>
            </div>
        </div>

{%- include footer.html -%}
