<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

    <div class="mw6 center bg-white ba bw2 pa3 pa4-m shadow-1">
        <div class="f5 f4-m mb3">
            <h2 class="sans-serif f3 mb2">About me</h2>
            <p class="mb3">My expertise is in design and production of web applications. For years I’ve been helping various products be more useful and meaningful.</p>
            <p class="mb3">Currently I work on <a href="https://semaphoreci.com">Semaphore</a>, a robust tool for developers. I run product design and I’m helping shape product strategy.</p>
            <img src="{% link /assets/pp.jpg %}" alt="Petar Perovic" class="db mv4">
            <p class="mb3">In past I was at innovative home insurance startup <a href="https://hellosuper.com">Super</a>, lead design at a project management app <a href="https://activecollab.com">ActiveCollab</a>, and ran a design agency <a href="https://sprawsm.com">Superawesome</a> with a friend.</p>
            <p class="mb3">My previous work with Semaphore was <a href="https://www.typewolf.com/site-of-the-day/semaphore">featured on Typewolf</a>, a website that lists outstanding typography on the web. I didn’t work on the current website, though.</p>
            <p class="mb3">Every once in a while I’m invited to speak at industry events, mostly sharing what I know about product design and typography.</p>
            <p class="mb3">I’ve been living in Porto, Portugal for years now, and my hometown is Novi Sad, Serbia.</p>
            <p class="">I lazy tweet from <a href="https://twitter.com/ropsii">@ropsii</a>.</p>
        </div>
    </div>

{%- include footer.html -%}
