<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% if page.robots %}
        <meta name="robots" content="{{page.robots}}" />
        {% endif %}

        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital@0;1&display=swap" rel="stylesheet">

    </head>

    <body class="ph3">

        <div class="pa3-m">
            <div>
                <div class="mw8 center ph5-m pv3 pt5-m pb5-m pb4-l">

                    <div class="flex-l justify-between">

                        <div class="f5 f4-m">
                            <div class="mb5">
                                <h1 class="f2 f1-m normal mb3 mw6">Hello, folks!</h1>

                                <div>
                                    <p class="measure pr5-m mb3">My name is Petar. I’m a designer with long experience building developer tools. I’m a generalist, and I’ve worked in all phases of the product cycle, from strategy and structure to execution and building stuff.</p>
                                </div>


                                <p class="mb0">
                                    <a href="mailto:perovic.petar@gmail.com">Email</a>
                                    ✳
                                    <a href="https://twitter.com/ropsii">Twitter</a>
                                    ✳
                                    <a href="/">/blog</a>
                                </p>

                            </div>

                            <div>
                                <h2 class="f3 f2-m normal mb2 bb bw1 pb1 mb3 mw6-m">Previously</h2>
                                <ul class="f5 f4-m pl4 mt1 ml0 measure-m">
                                    <li class="mv2">Built tools for developers at <a href="https://semaphoreci.com">Semaphore CI</a> for 4.5 years, including a leading role in a major product revamp</li>
                                    <li class="mv2">Won the <a href="https://www.typewolf.com/site-of-the-day/semaphore">site of the day</a> award on Typewolf for Semaphore marketing website <span class="f5 black-60">✳ didn’t work on the current website</span></li>
                                    <li class="mv2">Lead a huge product overhaul of <a href="https://activecollab.com/">ActiveCollab</a>, a project management software</li>
                                    <li class="mv2">Had a couple of short gigs in startups</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="mw6 mw5-l pl4-l mt5 mt3-l">
                            <div class="mb3">
                                <span class="bg-white dark-green ba bw1 ph3 pv1 br-pill">Available Mar 1, 2021 ⚑</span>
                            </div>
                            <div class="flex flex-wrap nl3 nr3">
                                <div class="w-100-ns w-50-m w-100-l pa3">
                                    <h3 class="f5 normal mb0 mb1-l">Where are you based in?</h3>
                                    <p class="f5 mb0 black-60">Porto, Portugal (GTM+00:00)</p>
                                </div>
                                <div class="w-100-ns w-50-m w-100-l pa3">
                                    <h3 class="f5 normal mb0 mb1-l">Working remotely?</h3>
                                    <p class="f5 mb0 black-60">I’ve been full-time remote for at least six years, with teams both from the US and Europe.</p>
                                </div>
                                <div class="w-100-ns w-50-m w-100-l pa3">
                                    <h3 class="f5 normal mb0 mb1-l">Preferred environment</h3>
                                    <p class="f5 mb0 black-60">Lean teams. Transparent by default. High autonomy. Share early. Ship often.</p>
                                </div>
                                <div class="w-100-ns w-50-m w-100-l pa3">
                                    <h3 class="f5 normal mb0 mb1-l">Can you code?</h3>
                                    <p class="f5 mb0 black-60">Yes. I design in code, and I’ve built design systems in code. Though I can find my way around JS, I’m much more useful in other roles.</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="mw8 center f5 f4-m">
                    <div class="ph5-m mb5">
                        <h2 class="f3 f2-m normal mb2 bb bw1 pb1 mb3 mw6-m">Work</h2>
                        <p class="measure pr4-m mb0">Since 2016, I’ve been a principal designer at Semaphore&nbsp;CI, a tool that helps developers test and deploy their code. I ran product design and helped with strategy.</p>
                    </div>

                    <div>
                        <img src="{% link /assets/work-sem-workflow.png %}" alt="Semaphore workflow page" class="br4 w-100 shadow-2">
                    </div>

                    <div class="ph4-m mv4 mv5-m pv4">
                        <p class="measure mb0">In a super-contributor role, I was in charge of a wide range of duties. From figuring out what users want us to build next to designing and shipping features.</p>
                    </div>

                    <div class="mb5">
                        <img src="{% link /assets/work-sem-branch.png %}" alt="Semaphore branch page" class="br4 w-100 shadow-2">
                    </div>

                    <div class="mb5">
                        <img src="{% link /assets/work-sem-project.png %}" alt="Semaphore insights" class="br4 w-100 shadow-2">
                    </div>

                    <div class="ph4-m mv4 mv5-m pv4">
                        <p class="measure mb0 pr5-m">Occasionally I’d do lightweight illustration work to brighten up the screens that benefit from the emotional encouragement. To ease up the anxiety during onboarding. Or to make blank screens more fun.
                        </p>
                    </div>

                    <div class="mb4">
                        <img src="{% link /assets/work-sem-create-org.png %}" alt="Semaphore create organization page" class="br4 w-100 shadow-2">
                    </div>


                    <div class="mv5">
                        <div class="flex-m nl4 nr4 nt4 nb4">

                            <div class="w-50-m pa4">
                                <img src="{% link /assets/work-sem-menu.png %}" alt="Semaphore help menu" class="br4 shadow-2">
                            </div>

                            <div class="w-50-m pa4">
                                <img src="{% link /assets/work-sem-illustrations.png %}" alt="Semaphore app illustrations" class="br4 shadow-2">
                            </div>
                        </div>
                    </div>

                    <div class="ph4-m mv4 mv5-m pv4">
                        <p class="measure mb0">A good portion of my work went to contribute to the structural and strategic level. A product that is complex by nature continually requires untangling what is not immediately evident.</p>
                    </div>

                    <div class="mb5">
                        <img src="{% link /assets/work-sem-whimsical.png %}" alt="Semaphore create organization flowchart" class="br4 w-100 shadow-2">
                    </div>

                    <div class="mb4">
                        <img src="{% link /assets/work-sem-jtbd.png %}" alt="Semaphore jtbd" class="br4 w-100 shadow-2">
                    </div>

                    <div class="ph4-m mv4 mv5-m pv4">
                        <p class="measure pr4 mb3">
                            Thanks for scrolling with me. If you think I could be useful in some of these roles in your team — <a href="mailto:perovic.petar@gmail.com">Let’s talk</a>.
                        </p>
                    </div>

                </div>

{%- include footer.html -%}
