<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% if page.robots %}
        <meta name="robots" content="{{page.robots}}" />
        {% endif %}

        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Chivo:ital@0;1&display=swap" rel="stylesheet">

    </head>

    <body class="bg-white">

        <div class="pa3 pa5-m">
            <div>

                    <div class="dib mb3 mb4-m pb1 bb bw1">
                        <div class="flex-ns items-center">
                            <svg class="dn di-ns flex-shrink-0" width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M10 0c5.523 0 10 4.477 10 10s-4.477 10-10 10S0 15.523 0 10 4.477 0 10 0zm0 2a8 8 0 100 16 8 8 0 000-16zm1 6l-.667 4h1.679v2H8l1-6h2zm-.494-3.722a1.25 1.25 0 110 2.5 1.25 1.25 0 010-2.5z" fill="#333" fill-rule="evenodd"/></svg>
                            <p class="f4 mb0 ml2-ns"><span class="dn di-ns">You’ve found the portfolio of </span>Petar Perovic</p>
                        </div>
                    </div>


                    <p class="f4 f2-m measure pr4-m mb3">I’m a designer with experience in developer tools. I’m a generalist, working in all phases of the product cycle, from strategy and structure to execution and building stuff.</p>

                    <p class="f4 mb4 mb5-m">
                        <a href="mailto:perovic.petar@gmail.com">Email</a>
                        ✳
                        <a href="https://twitter.com/ropsii">Twitter</a>
                        ✳
                        <a href="/">/blog</a>
                    </p>

                    <h2 class="f4 normal mb2 bb bw1 pb1 mb3 dib">Previously</h2>
                    <ul class="f4 f2-m pl4 mt1 ml0 measure-m">
                        <li class="mv1">Principal product designer at <a href="https://semaphoreci.com">Semaphore CI</a> <span class="f4"> ✳ 2016–21</span></li>
                        <li class="mv1">Senior product designer at <a href="https://hellosuper.com">Super</a><span class="f4"> ✳ 2015–16</span></li>
                        <li class="mv1">Product design lead at <a href="https://activecollab.com/">Active Collab</a><span class="f4"> ✳ 2013–15</span></li>
                    </ul>

                    <div class="mt5">
                        <h2 class="f4 normal bb bw1 pb1 mb0 mb3-m dib">Coworkers are saying</h2>

                        <blockquote class="f4 ml0 pl4-m mb4 pb3-m">
                            <p class="f4 mb3 i measure pr5-m" style="text-indent: -0.4em;">“Petar is incredibly versatile. Not only an outstanding individual contributor, but my closest ally in shaping the product strategy for years.”</p>
                            <p class="f4 mb0">— Darko Fabijan, Co-founder & CTO at Semaphore CI ✳ <a href="mailto:darko@renderedtext.com ">Email</a></p>
                        </blockquote>

                        <blockquote class="f4 ml0 pl4-m mb5">
                            <p class="f4 mb3 i measure pr5-m" style="text-indent: -0.4em;">“Petar was critical addition to our team in rethinking Active Collab in 2015. He is a really good generalist who deeply understands how product and business interact. He was amazing for us.”</p>
                            <p class="f4 mb0">— Ilija Studen, Co-founder at Active Collab ✳ <a href="mailto:ilija.studen@activecollab.com">Email</a></p>
                        </blockquote>
                    </div>


                    <h2 class="f4 normal bb bw1 pb1 mb3 mb4-m dib">Most recent work</h2>
                    <p class="f4 f2-m measure pr4-m mb5">From 2016-21, I was a principal designer at Semaphore&nbsp;CI, a tool that helps developers test and deploy their code. I was in command of product design and strategy.</p>

                    <div class="nl3 nr3 nl5-m nr5-m pa3 pa5-m" style="background-color:#7e8994">
                        <img src="{% link /assets/work-sem-workflow.png %}" alt="Semaphore workflow page" class="br4 w-100 shadow-2" style="max-width: 1150px">
                    </div>

                    <div class="mv5 mv6-m">
                        <p class="f4 f2-m measure pr4-m mb0">In a super-contributor role, I was responsible for a wide array of duties. From figuring out what to build next to designing and shipping features.</p>
                    </div>

                    <div class="nl3 nr3 nl5-m nr5-m pa3 pa5-m" style="background-color: #947a9a;">
                        <img src="{% link /assets/work-sem-job.png %}" alt="Semaphore Job" class="br4 w-100 shadow-2" style="max-width: 1150px">
                    </div>

                    <div class="mv5 mv6-m">
                        <p class="f4 f2-m measure pr4-m mb0">Semaphore is a small, 25-person team. I was balancing between product strategy, user feedback synthesis, UI design, and production-ready code.</p>
                    </div>

                    <div class="nl3 nr3 nl5-m nr5-m pa3 pa5-m" style="background-color: #619071;">
                        <img src="{% link /assets/work-sem-people.png %}" alt="Semaphore People" class="db br4 w-100 shadow-2 mb3 mb5-m" style="max-width: 1150px">

                        <img src="{% link /assets/work-sem-repository.png %}" alt="Semaphore Add repository" class="db br4 w-100 shadow-2 mb3 mb5-m" style="max-width: 1150px">

                        <img src="{% link /assets/work-sem-project.png %}" alt="Semaphore Project" class="br4 w-100 shadow-2" style="max-width: 1150px">
                    </div>

                    <div class="mv5 mv6-m">
                        <p class="f4 f2-m measure pr4-m mb0">I developed a simple illustration system to make the flow less intimidating. This was especially helpful during onboarding, to breathe life into dry, technical explanations.</p>
                    </div>

                    <div class="nl3 nr3 nl5-m nr5-m" style="background-color: #ffe29e;">
                        <div class="flex overflow-hidden">
                            <img src="{% link /assets/work-sem-illustrations.svg %}" alt="Semaphore app illustrations" class="pl4-m pr6">

                            <img src="{% link /assets/work-sem-create-org.png %}" alt="Semaphore create organization page" class="br4 shadow-2 mv5 mv6-m" style="width: 1024px">
                        </div>
                    </div>


                    <div class="mv5 mv6-m">
                        <p class="f4 f2-m measure mb0">A great portion of my efforts is designing at the structural level, consolidating how different systems interact with each other, and how that understanding translates to value for the users and the company.</p>
                    </div>

                    <div class="nl3 nr3 nl5-m nr5-m pa3 pa5-m" style="background-color: #947a9a;">
                        <img src="{% link /assets/work-sem-whimsical.png %}" alt="Semaphore create organization flowchart" class="br4 w-100 shadow-2" style="max-width: 1150px">
                    </div>

                    <div class="mv5 mv6-m">
                        <h3 class="dib f4 normal bb bw1 mb3">Random mentions of the Semaphore’s UX</h3>

                        <div class="flex-m nl3 nl4-m nr3 nr4-m">
                            <blockquote class="w-third-m ph3 ph4-m pv3 f4 ma0">
                                <p class="f4 i" style="text-indent: -0.4em;">“Early days for us with @semaphoreci, but so far the dev experience is light years ahead of GitHub Actions. Great docs, great performance, easy debugging, and the online editor is a powerful way of setting up your pipelines while still being able to keep your config as code.”</p>
                                <p class="f4 mb0">— From <a href="https://twitter.com/axwdev/status/1356950251333165056">a tweet</a></p>
                            </blockquote>

                            <blockquote class="w-third-m ph3 ph4-m pv3 f4 ma0">
                                <p class="f4 i" style="text-indent: -0.4em;">“Clutter-free UX and effective pipeline visualizations. Semaphore v1 was great, but didn't do so well here - v2 fixed those problems in a big way. Semaphore also obliterates tools like Jenkins and Bamboo in terms of UX. It's extremely intuitive and easy to navigate.”</p>
                                <p class="f4">— From <a href="https://www.g2.com/products/semaphore/reviews/semaphore-review-4446814">a review on G2crowd</a></p>
                            </blockquote>

                            <blockquote class="w-third-m ph3 ph4-m pv3 f4 ma0">
                                <p class="f4 i" style="text-indent: -0.4em;">“I’ve been working as a web engineer for more than 20 years and I’ve tried a lot of different products in the CI/CD space, but I always come back to Semaphore. They’ve done an incredible job with the latest release of their product, improving it in every possible aspect: from UI to ease of use, from speed to pricing.”</p>
                                <p class="f4 mb0">— From <a href="https://www.g2.com/products/semaphore/reviews/semaphore-review-4363475">a review on G2crowd</a></p>
                            </blockquote>
                        </div>
                    </div>



                    <div class="mv5 mv6-m">
                        <div class="mv4">
                            <h3 class="dib f4 normal bb bw1 mb3">Where’s your base?</h3>
                            <p class="f4 f2-m mb4 measure-narrow">Porto, Portugal (UTC+00:00)</p>
                        </div>
                        <div class="mv4">
                            <h3 class="dib f4 normal bb bw1 mb3">When can you start?</h3>
                            <p class="f4 f2-m mb4 measure-narrow">Apr 2021</p>
                        </div>
                        <div class="mv4">
                            <h3 class="dib f4 normal bb bw1 mb3">Working remotely?</h3>
                            <p class="f4 f2-m mb4 measure-narrow">I’ve been full-time remote for at least six years, with teams both from the US and Europe.</p>
                        </div>
                        <div class="mv4">
                            <h3 class="dib f4 normal bb bw1 mb3">Values</h3>
                            <p class="f4 f2-m mb4 measure-narrow">People first. Transparent by default. High autonomy. Share early. Ship often.</p>
                        </div>
                        <!-- <div class="mv4">
                            <h3 class="dib f4 normal bb bw1 mb3">Can you code?</h3>
                            <p class="f2 mb4 measure-narrow">Yes. I design in code, and I’ve built design systems in code. Though I can find my way around JS, I’m much more useful in other roles.</p>
                        </div> -->
                    </div>

                    <div class="mv5 mv6-m">
                        <h3 class="dib f4 normal bb bw1 mb3">Get in touch</h3>
                        <p class="f4 f2-m measure-narrow mb0">Thanks for scrolling with me! If you think I could be useful in some of these roles in your team — <a href="mailto:perovic.petar@gmail.com">Let’s chat</a>!</p>
                    </div>


{%- include footer.html -%}
