<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% if page.robots %}
        <meta name="robots" content="{{page.robots}}" />
        {% endif %}

        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital@0;1&display=swap" rel="stylesheet">

    </head>

    <body class="ph3">

        <div class="pa3-m">
            <div>
                <div class="mw8 center ph5-m pv3 pt5-m pb5-m pb4-l">

                    <div class="flex-l justify-between">

                        <div class="f5 f4-m">
                            <div class="mb5">
                                <h1 class="f2 f1-m normal mb3 mw6">Hello, folks!</h1>

                                <div>
                                    <p class="measure pr5-m mb3">My name is Petar. I’m a designer with experience in developer tools. I’m a generalist, working in all phases of the product cycle — from strategy and structure to execution and building stuff.</p>
                                </div>


                                <p class="mb0">
                                    <a href="mailto:perovic.petar@gmail.com">Email</a>
                                    ✳
                                    <a href="https://twitter.com/ropsii">Twitter</a>
                                    ✳
                                    <a href="/">/blog</a>
                                </p>

                            </div>

                            <div>
                                <h2 class="f3 f2-m normal mb2 bb bw1 pb1 mb3 mw6-m">Previously</h2>
                                <ul class="f5 f4-m pl4 mt1 ml0 measure-m">
                                    <li class="mv2">Built tools for developers at <a href="https://semaphoreci.com">Semaphore CI</a> for 4.5 years, including a leading role in a major product reinvention
                                        <blockquote class="bl bw1 pl3 ml0 ml3-ns ml4-l">
                                            <p class="f5">“Petar is incredibly versatile. Not only an outstanding designer, but has been my closest ally in defining the product strategy for years.”</p>
                                            <p class="f6">Darko Fabijan, Co-founder & CTO at Semaphore CI</p>
                                        </blockquote>

                                    </li>
                                    <li class="mv2">Won <a href="https://www.typewolf.com/site-of-the-day/semaphore">site of the day</a> award on Typewolf for Semaphore marketing website <span class="f6">✳ didn’t work on the current version</span></li>
                                    <li class="mv2">Lead a successful redesign of <a href="https://activecollab.com/">ActiveCollab</a>, a complex project management / time-tracking / budgeting / invoicing SaaS
                                        <blockquote class="bl bw1 pl3 ml0 ml3-ns ml4-l">
                                            <p class="f5">“Petar played a critical role in leveling up our product back in 2015. He is a really good generalist with great capacity of understanding how product and business interact. He was amazing for us.”</p>
                                            <p class="f6">Ilija Studen, Co-founder at ActiveCollab</p>
                                        </blockquote>
                                    </li>
                                    <li class="mv2">Had a couple of short gigs in startups</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="mw6 mw5-l mt5">
                            <div class="flex flex-wrap nl3 nr3">
                                <div class="w-100-ns w-50-m w-100-l pa3">
                                    <div class="flex">
                                        <div class="w2 tc pt1 flex-shrink-0 mr2">
                                            <svg width="25" height="29" xmlns="http://www.w3.org/2000/svg"><g fill-rule="nonzero" stroke="#333" stroke-width="2" fill="none"><path d="M1 1.983h8.816c1.374 0 2.63.778 3.243 2.008A3.624 3.624 0 0016.303 6H24v14h-7.705a3.618 3.618 0 01-3.236-2 3.618 3.618 0 00-3.236-2H1h0V1.983z" stroke-linecap="round"/><path d="M1 8.983h8.816c1.374 0 2.63.778 3.243 2.008A3.624 3.624 0 0016.303 13H24" stroke-linecap="round"/><path d="M1 13v16" fill="#F7E9D9"/></g></svg>
                                        </div>
                                        <div class="flex-auto pl3">
                                            <h3 class="f5 normal mb0 mb1-l">Where’s your base?</h3>
                                            <p class="f5 mb0">Porto, Portugal (UTC+00:00)</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-100-ns w-50-m w-100-l pa3">
                                    <div class="flex">
                                        <div class="w2 tc pt1 flex-shrink-0 mr2">
                                            <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg"><g transform="translate(1)" fill="none" fill-rule="evenodd"><rect stroke="#333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" y="5" width="28" height="24" rx="4"/><path fill="#333" fill-rule="nonzero" d="M15.327 24.574h-2.102V16.65h-.102l-2.263 1.59v-1.985l2.365-1.677h2.102z"/><path fill="#333" d="M7 0h2v5H7zM19 0h2v5h-2z"/><path d="M0 11h28" stroke="#333" stroke-width="2"/></g></svg>
                                        </div>
                                        <div class="flex-auto pl3">
                                            <h3 class="f5 normal mb0 mb1-l">When can you start?</h3>
                                            <p class="f5 mb0">Mar 1, 2021</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-100-ns w-50-m w-100-l pa3">
                                    <div class="flex">
                                        <div class="w2 tc pt1 flex-shrink-0 mr2">
                                            <svg width="31" height="30" xmlns="http://www.w3.org/2000/svg"><g transform="translate(1.817 1)" stroke="#333" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round"><circle stroke-linejoin="round" cx="14" cy="14" r="14"/><path d="M21.403 3l-1.235 3.181c-.172.444-.6.736-1.075.736h-3.16a2.1 2.1 0 00-2.1 2.078l-.011 1.126c-.006.584.318 1.12.838 1.386l1.557.795c.514.263.838.792.838 1.37v2.207c0 .85.689 1.538 1.538 1.538h2.931c.408 0 .8.162 1.088.45l2.856 2.857M1.558 12.917h2.68c.526 0 .993.336 1.16.834l.7 2.084c.166.498.633.834 1.159.834h2.646c.676 0 1.224.547 1.224 1.223v3.116c0 .242.072.48.207.68l.779 1.163a1.223 1.223 0 01-.382 1.727L8.563 26.5"/></g></svg>
                                        </div>
                                        <div class="flex-auto pl3">
                                            <h3 class="f5 normal mb0 mb1-l">Working remotely?</h3>
                                            <p class="f5 mb0">I’ve been full-time remote for at least six years, with teams both from the US and Europe.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-100-ns w-50-m w-100-l pa3">
                                    <div class="flex">
                                        <div class="w2 tc pt1 flex-shrink-0 mr2">
                                            <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg"><g fill-rule="nonzero" stroke="#333" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"><path d="M8.097 8.113A14.032 14.032 0 019.95 5.271a13.945 13.945 0 014.91-3.74 14.027 14.027 0 013.098 1.974h0a13.95 13.95 0 013.61 4.634"/><path d="M11.04 27.932C5.238 26.224 1 20.857 1 14.5c0-2.156.487-4.198 1.358-6.022A14.027 14.027 0 016 8h0c3.45 0 6.609 1.248 9.05 3.317"/><path d="M24 8c1.26 0 2.48.166 3.642.478A13.945 13.945 0 0129 14.5c0 7.732-6.268 14-14 14-1.26 0-2.48-.166-3.642-.478A13.945 13.945 0 0110 22c0-7.732 6.268-14 14-14z"/></g></svg>
                                        </div>
                                        <div class="flex-auto pl3">
                                            <h3 class="f5 normal mb0 mb1-l">Core values?</h3>
                                            <p class="f5 mb0">People first. Transparent by default. High autonomy. Share early. Ship often.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-100-ns w-50-m w-100-l pa3">
                                    <div class="flex">
                                        <div class="w2 tc pt1 flex-shrink-0 mr2">
                                            <svg width="31" height="22" xmlns="http://www.w3.org/2000/svg"><g transform="translate(1 .024)" fill="none" fill-rule="evenodd"><rect stroke="#333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" y="3.979" width="29" height="17" rx="3"/><path fill="#333" d="M4 7.979h3v3H4zM10 7.979h3v3h-3zM16 7.979h3v3h-3zM22 7.979h3v3h-3zM4 13.979h3v3H4zM10 13.979h3v3h-3zM16 13.979h3v3h-3zM22 13.979h3v3h-3z"/><path d="M13.988 3.979V0" stroke="#333" stroke-width="2"/></g></svg>
                                        </div>
                                        <div class="flex-auto pl3">
                                            <h3 class="f5 normal mb0 mb1-l">Can you code?</h3>
                                            <p class="f5 mb0">Yes. I design in code, and I’ve built design systems in code. Though I can find my way around JS, I’m much more useful in other roles.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="mw8 center f5 f4-m">
                    <div class="ph5-m mb5">
                        <h2 class="f3 f2-m normal mb2 bb bw1 pb1 mb3 mw6-m">Work</h2>
                        <p class="measure pr4-m mb0">Since 2016, I’ve been a principal designer at Semaphore&nbsp;CI, a tool that helps developers test and deploy their code. I ran product design and helped with strategy.</p>
                    </div>

                    <div>
                        <img src="{% link /assets/work-sem-workflow.png %}" alt="Semaphore workflow page" class="br4 w-100 shadow-2">
                    </div>

                    <div class="ph4-m mv4 mv5-m pv4">
                        <p class="measure mb0">In a super-contributor role, I was in charge of a wide range of duties. From figuring out what users want us to build next to designing and shipping features.</p>
                    </div>

                    <div class="mb5">
                        <img src="{% link /assets/work-sem-job.png %}" alt="Semaphore Job" class="br4 w-100 shadow-2">
                    </div>

                    <div class="mb5">
                        <img src="{% link /assets/work-sem-project.png %}" alt="Semaphore Project" class="br4 w-100 shadow-2">
                    </div>

                    <div class="mb5">
                        <img src="{% link /assets/work-sem-people.png %}" alt="Semaphore People" class="br4 w-100 shadow-2">
                    </div>

                    <div class="mb5">
                        <img src="{% link /assets/work-sem-insights.png %}" alt="Semaphore insights" class="br4 w-100 shadow-2">
                    </div>

                    <div class="ph4-m mv4 mv5-m pv4">
                        <p class="measure mb0 pr5-m">Occasionally I can help with illustration to freshen up the onboarding and make blank screens more fun.
                        </p>
                    </div>

                    <div class="mb4">
                        <img src="{% link /assets/work-sem-create-org.png %}" alt="Semaphore create organization page" class="br4 w-100 shadow-2">
                    </div>


                    <div class="mv5">
                        <div class="flex-m nl4 nr4 nt4 nb4">

                            <div class="w-50-m pa4">
                                <img src="{% link /assets/work-sem-menu.png %}" alt="Semaphore help menu" class="br4 shadow-2">
                            </div>

                            <div class="w-50-m pa4">
                                <img src="{% link /assets/work-sem-illustrations.png %}" alt="Semaphore app illustrations" class="br4 shadow-2">
                            </div>
                        </div>
                    </div>

                    <div class="ph4-m mv4 mv5-m pv4">
                        <p class="measure mb0">A good portion of my time goes to work at the structural and strategic level. A product that is complex by nature continually requires untangling what is not immediately evident.</p>
                    </div>

                    <div class="mb5">
                        <img src="{% link /assets/work-sem-whimsical.png %}" alt="Semaphore create organization flowchart" class="br4 w-100 shadow-2">
                    </div>

                    <div class="mb4">
                        <img src="{% link /assets/work-sem-jtbd.png %}" alt="Semaphore jtbd" class="br4 w-100 shadow-2">
                    </div>

                    <div class="ph4-m mv4 mv5-m pv4">
                        <p class="measure pr4 mb3">
                            Thanks for scrolling with me. If you think I could be useful in some of these roles in your team — <a href="mailto:perovic.petar@gmail.com">Let’s talk</a>.
                        </p>
                    </div>

                </div>

{%- include footer.html -%}
